.GSL_ITEM {
    list-style-type: none;
    line-height:100%;
    font-size:25px;            
    color:#FFF;
    margin:2px;
    padding: 10px;    
  }
  
  .GSL_ITEM * {
    vertical-align: middle;
  }
  
  /* .GSL_ITEM span {
  
  } */
  
  .GSL_ITEM img {
    /* display:none;*/
    margin-right: 10px;
  }